.Button {
    /* --- Reset styles --- */
    /* Reset button styles */
    padding: 0;
    margin: 0;
    font: inherit;

    /* Reset anchor styles */
    text-decoration: none;

    /* Common resets */
    display: inline-block;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* --- Button Component styles --- */
    display: inline-flex;
    padding-right: var(--tz-spacing-3x);
    padding-left: var(--tz-spacing-3x);
    position: relative;
    cursor: pointer;

    color: var(--_bg);

    transition: background-color var(--tz-motion-standard-duration) var(--tz-motion-standard-easing);

    &.block {
        display: block;
        width: 100%;
    }

    /* Positioning layers */
    .baseLayer {
        width: 100%;
        height: 100%;
    }
    .layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;

        width: 100%;
        height: 100%;

        &.untouchable {
            pointer-events: none;
        }
    }

    /* Specific layers */
    .contentLayer {
        position: relative;

        display: grid;
        grid-template-columns: 1fr auto auto auto 1fr;
        grid-template-areas: '. leading main trailing .';
        align-items: center;

        .leadingContainer {
            grid-area: leading;
            margin-right: var(--tz-spacing-2x);
        }
        .mainContainer {
            grid-area: main;
            padding-top: var(--tz-spacing-2x);
            padding-bottom: var(--tz-spacing-2x);
        }
        .trailingContainer {
            grid-area: trailing;
            margin-left: var(--tz-spacing-2x);
        }
    }

    .loaderLayer {
        display: none;

        .loaderContainer {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            box-sizing: border-box;

            width: 100%;
            height: 100%;

            .loader {
                width: 1em;
                height: 1em;
            }
        }
    }

    &.loading {
        .loaderLayer {
            display: block;
        }
        .contentLayer {
            visibility: hidden;
        }
    }
}
