.tz-elv-0 {
    box-shadow: var(--tz-elevation-0);
}
.tz-elv-1 {
    box-shadow: var(--tz-elevation-1);
}

.tz-elv-2 {
    box-shadow: var(--tz-elevation-2);
}

.tz-elv-3 {
    box-shadow: var(--tz-elevation-3);
}

.tz-elv-4 {
    box-shadow: var(--tz-elevation-4);
}

.tz-elv-5 {
    box-shadow: var(--tz-elevation-5);
}

.tz-elv-6 {
    box-shadow: var(--tz-elevation-6);
}

.tz-elv-7 {
    box-shadow: var(--tz-elevation-7);
}

.tz-elv-8 {
    box-shadow: var(--tz-elevation-8);
}

.tz-elv-9 {
    box-shadow: var(--tz-elevation-9);
}

.tz-elv-10 {
    box-shadow: var(--tz-elevation-10);
}

.tz-elv-11 {
    box-shadow: var(--tz-elevation-11);
}

.tz-elv-12 {
    box-shadow: var(--tz-elevation-12);
}

.tz-elv-13 {
    box-shadow: var(--tz-elevation-13);
}

.tz-elv-14 {
    box-shadow: var(--tz-elevation-14);
}

.tz-elv-15 {
    box-shadow: var(--tz-elevation-15);
}

.tz-elv-16 {
    box-shadow: var(--tz-elevation-16);
}

.tz-elv-17 {
    box-shadow: var(--tz-elevation-17);
}

.tz-elv-18 {
    box-shadow: var(--tz-elevation-18);
}

.tz-elv-19 {
    box-shadow: var(--tz-elevation-19);
}

.tz-elv-20 {
    box-shadow: var(--tz-elevation-20);
}

.tz-elv-21 {
    box-shadow: var(--tz-elevation-21);
}

.tz-elv-22 {
    box-shadow: var(--tz-elevation-22);
}

.tz-elv-23 {
    box-shadow: var(--tz-elevation-23);
}
