.tz-elevation-0 {
    box-shadow: var(--tz-elevation-0);
}
.tz-elevation-1 {
    box-shadow: var(--tz-elevation-1);
}

.tz-elevation-2 {
    box-shadow: var(--tz-elevation-2);
}

.tz-elevation-3 {
    box-shadow: var(--tz-elevation-3);
}

.tz-elevation-4 {
    box-shadow: var(--tz-elevation-4);
}

.tz-elevation-5 {
    box-shadow: var(--tz-elevation-5);
}

.tz-elevation-6 {
    box-shadow: var(--tz-elevation-6);
}

.tz-elevation-7 {
    box-shadow: var(--tz-elevation-7);
}

.tz-elevation-8 {
    box-shadow: var(--tz-elevation-8);
}

.tz-elevation-9 {
    box-shadow: var(--tz-elevation-9);
}

.tz-elevation-10 {
    box-shadow: var(--tz-elevation-10);
}

.tz-elevation-11 {
    box-shadow: var(--tz-elevation-11);
}

.tz-elevation-12 {
    box-shadow: var(--tz-elevation-12);
}

.tz-elevation-13 {
    box-shadow: var(--tz-elevation-13);
}

.tz-elevation-14 {
    box-shadow: var(--tz-elevation-14);
}

.tz-elevation-15 {
    box-shadow: var(--tz-elevation-15);
}

.tz-elevation-16 {
    box-shadow: var(--tz-elevation-16);
}

.tz-elevation-17 {
    box-shadow: var(--tz-elevation-17);
}

.tz-elevation-18 {
    box-shadow: var(--tz-elevation-18);
}

.tz-elevation-19 {
    box-shadow: var(--tz-elevation-19);
}

.tz-elevation-20 {
    box-shadow: var(--tz-elevation-20);
}

.tz-elevation-21 {
    box-shadow: var(--tz-elevation-21);
}

.tz-elevation-22 {
    box-shadow: var(--tz-elevation-22);
}

.tz-elevation-23 {
    box-shadow: var(--tz-elevation-23);
}
