.CircularLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
    .spinner {
        width: 100%;
        height: 100%;
        border: 2px solid currentColor;
        border-top: 2px solid transparent;
        border-radius: 1000000px;
        animation: spin 0.54s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
